body {
  font-family: Arial;
  text-align: center;
  background: #fff3e0;
}

h1 {
  color: #d62828;
}

.whatsapp-btn {
  display: inline-block;
  margin-top: 20px;
  background: #25D366;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 30px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  border-radius: 15px;
}